{{> menu active="admin"}}

<section class="section">
    <div class="title">
        {{admin}}
    </div>
    {{> list_users}}
    {{> add_users}}
    {{> list_categories_analytic}}
    {{> add_category}}

</section>
