{{> menu active="admin"}}

<section class="section">
    <div class="title">
       Admin Dashboard
    </div>
    {{> list_users}}
    {{> add_users}}
  <div class="title">
    Category Analytics
  </div>
    {{> list_categories_analytic}}
    {{> add_category}}

</section>
