<form class="box" action="/admin/adduser" method="POST">
    <label>Enter Hike Details:</label>
    <div class="field is-horizontal">
        <div class="field-body">
            <div class="field">
                <input class="input" type="text" placeholder="Enter Firstname" name="firstName">
            </div>
            <div class="field">
                <input class="input" type="text" placeholder="Enter Lastname" name="lastName">
            </div>
            <div class="field">
                <input class="input" type="text" placeholder="Enter Email" name="email">
            </div>
            <div class="field">
                <input class="input" type="text" placeholder="Enter Password" name="password">
            </div>
            <div class="field">
                <input class="input" type="text" placeholder="Enter role" name="role">
            </div>

        </div>
    </div>
    <button class="button is-primary">Add User</button>
</form>
