{{#each hike.img}}

  <div class="card-image">
    <figure class="image is-256x256">
      <img src="{{this}}" alt="no Image">
    </figure>
  </div>
  <div class="card-content">
    <div class="media-right">
    <form action="/category/{{../category._id}}/deleteimage/{{../hike._id}}" class="ui icon button" method="POST">
      <input type="hidden" name="image" value={{this}}>
      <button class="button is-danger">Delete Img</button>
    </form>
    </div>
  </div>
{{/each}}